<template>
    <form @submit.prevent="addMessage">
        <div class="form-group">
            <custom-label for="componentEmailInput">Адрес электронной почты</custom-label>
            <input type="email" class="form-control" placeholder="Адрес электронной почты"
                v-model="email" id="componentEmailInput" required>
        </div>
        <div class="form-group">
            <custom-label for="componentMessageInput">Ваше сообщение</custom-label>
            <textarea class="form-control" placeholder="Ваше сообщение"
                id="componentMessageInput" v-model="text" required></textarea>
        </div>
        <button type="submit"  class="btn btn-primary mt-2">Отправить сообщение</button>
    </form>
</template>

<script>
export default {
    data() {
        return {
            email: null,
            text: null
        }
    },
    methods: {
        addMessage(){
            this.$store.commit('addMessage', {email: this.email, text: this.text});
            console.log(this.$store.state.messages);
        }
    }
}
</script>