<template>
<div>
    <hr v-if="messages.length">
    <div  class="card mt-1" v-for="(message, index) in messages" :key="index">
        <div class="card-body">
            <h2 class="card-title">{{message.email}}</h2>
            <p class="card-text">{{message.text}}</p>
        </div>
    </div>
</div>
</template>

<script>
export default {
    computed: {
        messages(){
            console.log('Messages:', this.$store.state.messages);
            return this.$store.state.messages;
        }
    }
}
</script>